* {
  margin: 0px;
  padding: 0px; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  height: 833px;
  width: 100%;
  background: #dddddb; }
  body .register {
    width: 1000px;
    height: 833px;
    background: url(../images/5.jpg) no-repeat;
    margin: 0 auto;
    overflow: hidden; }
    body .register .header {
      width: 369px;
      height: 36px;
      margin: 30px auto 0;
      background: url(../images/logo.png) no-repeat; }
    body .register .main {
      width: 1000px;
      height: 650px; }
      body .register .main .zhuce {
        float: right;
        width: 350px;
        height: 485px;
        margin: 60px 200px 0 0; }
      body .register .main .mfzc {
        height: 20px;
        margin-bottom: 10px; }
        body .register .main .mfzc h2 {
          font-size: 16px;
          font-weight: 600;
          float: left;
          margin-left: 90px; }
        body .register .main .mfzc span {
          font-size: 12px;
          float: right; }
        body .register .main .mfzc a {
          font-size: 14px;
          color: red; }
      body .register .main .username {
        padding-left: 32px;
        margin-bottom: 10px; }
      body .register .main .password {
        padding-left: 40px;
        margin-bottom: 10px; }
      body .register .main .dian {
        margin-left: 84px; }
        body .register .main .dian .huiyuan {
          margin-top: 20px;
          border: 0px;
          display: block;
          background: #db2725;
          width: 260px;
          height: 35px;
          color: #FFFFFF; }
      body .register .main .tyzc {
        font: 12px/18px ""; }
        body .register .main .tyzc .zddl {
          display: block;
          margin: 10px 0 0 80px; }
        body .register .main .tyzc .lmdl {
          margin: 15px 0 0 20px; }
          body .register .main .tyzc .lmdl img {
            margin: 0 10px;
            vertical-align: middle; }
        body .register .main .tyzc a {
          margin-left: 120px;
          color: black; }
        body .register .main .tyzc span {
          display: inline-block;
          width: 12px;
          height: 12px;
          background: url(../images/icon_selected.png) no-repeat;
          cursor: pointer;
          margin: 10px 5px 0 5px; }
      body .register .main .xian {
        width: 350px;
        height: 1px;
        background: #a8aaab;
        margin-top: 19px; }
      body .register .main .erweima {
        margin: 20px 0 0 90px; }
        body .register .main .erweima img {
          display: block;
          float: left;
          vertical-align: middle; }
        body .register .main .erweima p {
          margin-top: 20px;
          margin-left: 15px;
          line-height: 20px;
          width: 146px;
          font-size: 12px;
          float: left; }
      body .register .main .form span {
        font-size: 12px; }
      body .register .main .kong {
        width: 244px;
        height: 24px;
        padding: 0 8px; }
  body .footer {
    width: 1000px;
    margin: 0 auto;
    text-align: center; }
    body .footer .xiaotu ul {
      font-size: 12px;
      width: 1000px;
      height: 60px;
      margin-bottom: 20px; }
      body .footer .xiaotu ul li {
        width: 165px;
        height: 60px;
        line-height: 95px;
        text-align: center;
        list-style: none;
        float: left; }
    body .footer .a1 {
      background-image: url(../images/base_z.png);
      background-repeat: no-repeat;
      background-position: -153px -146px; }
    body .footer .a2 {
      background-image: url(../images/base_z.png);
      background-repeat: no-repeat;
      background-position: -543px -104px; }
    body .footer .a3 {
      background-image: url(../images/base_z.png);
      background-repeat: no-repeat;
      background-position: -150px -382px; }
    body .footer .a4 {
      background-image: url(../images/base_z.png);
      background-repeat: no-repeat;
      background-position: -419px 5px; }
    body .footer .a5 {
      background-image: url(../images/base_z.png);
      background-repeat: no-repeat;
      background-position: -301px -346px; }
    body .footer .a6 {
      background-image: url(../images/base_z.png);
      background-repeat: no-repeat;
      background-position: -301px -112px; }
    body .footer .copyright {
      width: 1000px;
      height: 60px;
      margin: 0 auto;
      font-size: 12px;
      margin-bottom: 20px; }

/*# sourceMappingURL=login.css.map */
